.container {
  display: flex;
  padding-block: 4rem;
  flex-direction: column;
  align-items: center;
  background-color: var(--accent-dark-bg-col);
}

.container > p {
  margin-block: 1.5rem 4rem;
  opacity: 1;
}
