.container {
  position: relative;
  border: 1px solid var(--main-gold-bg-col);
  display: grid;
  place-items: center;
  padding: 4.5rem 6rem;
  font-family: var(--cormorant-font);
  font-size: 2rem;
  background-color: var(--dark-gray-bg-col);
  display: block;
  margin-inline: auto;
}

.container::after,
.container::before {
  content: "";
  position: absolute;
  aspect-ratio: 1;
  width: 3rem;
  background: url("../../../../../public/assets/svg/gray-quotes.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.container::after {
  bottom: 0;
  right: 1rem;
  rotate: 180deg;
}

.container::before {
  top: 0;
  left: 1rem;
}

.quote {
  text-align: center;
}
