.container {
  margin-bottom: 8rem;
  margin: 0 auto;
  max-width: 1300px;
}

.wrapper {
  background-size: cover;
  position: relative;
  overflow: hidden;
  padding: 1rem;
}

.wrapper::after {
  content: "";
  position: absolute;
  top: 13rem;
  left: 0;
  height: 100%;
  right: 0;
  z-index: -1;
  background-image: url("../../../../public/assets/png/footer-bg.png");
  filter: brightness(0.6);
}

.subscribe_email {
  display: flex;
  padding-block: 4rem;
  flex-direction: column;
  align-items: center;
  background-color: var(--accent-dark-bg-col);
}

.subscribe_email > p {
  margin-block: 1.5rem 4rem;
}

.address {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 2rem 0;
  gap: 0.5rem;
}

.address > *:nth-child(2) {
  order: 1;
}

.address > *:not(:nth-child(2)) {
  flex-basis: 48%;
}
@media (min-width: 700px) {
  .wrapper {
    padding: 0;
  }
  .container {
    width: 80vw;
  }
  .address {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 8rem 0 9rem 0;
    justify-content: space-between;
  }
  .address > *:nth-child(2) {
    order: 0;
  }
}
