.container {
  margin-bottom: 8rem;
  margin: 0 auto;
  width: 80vw;
  max-width: 1300px;
}

.wrapper {
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.wrapper::after {
  content: "";
  position: absolute;
  top: 13rem;
  left: 0;
  height: 100%;
  right: 0;
  z-index: -1;
  background-image: url("../../../../public/assets/png/footer-bg.png");
  filter: brightness(0.6);
}

.subscribe_email {
  display: flex;
  padding-block: 4rem;
  flex-direction: column;
  align-items: center;
  background-color: var(--accent-dark-bg-col);
}

.subscribe_email > p {
  margin-block: 1.5rem 4rem;
}

.address {
  padding: 8rem 0 9rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8rem;
}
