.container {
  height: 100vh;
  display: grid;
  place-items: center;
  position: relative;
}

.content_wrapper {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  width: 80%;
  max-width: 1680px;
}

.content_wrapper > * {
  flex-basis: 50%;
}

.hero_desc {
  margin-block: 2rem;
}

.page_nav {
  position: absolute;
  left: calc(100% - 6rem);
  top: 50%;
  rotate: 270deg;
  width: fit-content;
}

.page_nav > * {
  margin: 0.5rem;
}

@media (min-width: 768px) {
  .container {
    translate: 0 -8rem;
  }
  .content_wrapper {
    flex-direction: row;
    gap: 0;
  }
  .page_nav {
    left: 0;
    top: 50%;
  }
}

.scroller {
  bottom: 2rem;
}
