.container {
  width: 100vw;
  aspect-ratio: 16/9;
  position: relative;
}

.signature {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  scale: 0.5;
}

@media (min-width: 768px) {
  .signature {
    scale: 1;
  }
}
