.container {
  display: grid;
  place-items: center;
  position: relative;
  padding-block: 2rem;
}

.container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  right: 0;
  z-index: -1;
  padding-block: 2rem;
  background-image: url("../../../../public/assets/png/footer-bg.png");
  filter: brightness(0.3);
  background-size: cover;
}

.content_wrapper {
  position: relative;
  width: calc(100% - 4rem);
  max-width: 1300px;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.awwards {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}

.images {
  display: none;
}

@media (min-width: 768px) {
  .container {
    padding-block: 8rem;
  }
  .content_wrapper {
    width: 80%;
    flex-direction: row;
  }
  .awwards {
    margin-top: 4rem;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .images {
    display: block;
    position: relative;
    height: 30rem;
    aspect-ratio: 483/681;
  }

  .images::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -2rem;
    aspect-ratio: 1;
    height: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../../../../public/assets/png/g_awwards.png");
  }
}
