.container {
  --bg-col: var(--soft-gray-bg-col);
  display: flex;
  width: 80%;
  gap: 2rem;
  align-items: center;
}

.container input {
  font-family: var(--cormorant-font);
  font-size: 1rem;
  font-weight: 700;
  color: var(--bg-col);
  outline-color: var(--bg-col);
  border-color: var(--bg-col);
  border-width: 1px;
  padding: 1rem 1.2rem;
  flex-grow: 1;
  background-color: var(--accent-dark-bg-col);
}
