.title,
.desc {
  font-family: var(--cormorant-font);
}
.container {
  display: flex;
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}
.center .desc {
  text-align: center;
}

.start {
  align-items: flex-start;
}

.desc {
  font-size: 2rem;
  color: var(--main-gold-bg-col);
  font-weight: 700;
  line-height: 3rem;
}

.title {
  font-size: 1.25rem;
  opacity: 1;
  font-weight: 500;
}

@media (min-width: 768px) {
  .container {
    gap: 0.5rem;
  }
  .title {
    font-size: 1.45rem;
  }
  .desc {
    font-size: 4rem;
  }
}
