.container {
  display: grid;
  place-items: center;
  position: relative;
  padding-block: 4rem;
}

.content_wrapper {
  max-width: 1300px;
  width: calc(100% - 2rem);
}

.testimony_container {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.testimonies {
  display: flex;
  gap: 2rem;
  margin-bottom: 4rem;
}

.signature {
  scale: 0.65;
  position: absolute;
  top: 2rem;
  right: 2rem;
}

@media (min-width: 768px) {
  .container {
    padding-block: 9rem;
  }
  .content_wrapper {
    width: 80vw;
  }

  .image {
    width: 190px;
  }

  .testimony_container {
    margin-top: 4rem;
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
  }

  .testimonies:nth-child(odd) {
    flex-direction: row;
  }
  .testimonies:nth-child(odd) .name,
  .testimonies:nth-child(odd) .comment,
  .testimonies:nth-child(odd) .job {
    text-align: start;
  }

  .testimonies:nth-child(odd) .image::after {
    left: auto;
    right: -1rem;
  }

  .signature {
    scale: 1;
  }
}
