.container {
  max-width: 438px;
  margin-top: 1rem;
}

.container > img {
  display: block;
  margin-inline: auto;
  scale: 0.5;
  margin-bottom: 0.5rem;
  height: 41px;
}

.tagline {
  display: grid;
  gap: 1rem;
  place-items: center;
}

.tagline p {
  text-align: center;
  font-size: 1rem;
}

.tagline p + img {
  scale: 0.75;
}

.tagline > span {
  display: flex;
  gap: 0;
}

.tagline > span img {
  scale: 0.75;
}

.main_logo {
  height: 83px;
  width: 289px;
  margin-inline: auto;
}

@media (min-width: 768px) {
  .container {
    margin-top: 0;
  }
  .container > img {
    margin-bottom: 2rem;
    scale: 1;
  }

  .tagline p + img {
    scale: 1;
  }
  .tagline > span {
    gap: 0.5rem;
  }
  .tagline > span img {
    scale: 1;
  }
}
