.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container video {
  filter: brightness(0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.play_btn {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  aspect-ratio: 1;
  outline-color: transparent;
  width: 7.25rem;
  border: 2px solid var(--main-gold-bg-col);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  z-index: 5;
  transition: opacity 0.5s ease-in;
}

.play_btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -25% -50%;
  display: block;
  aspect-ratio: 1;
  border-left: 1.5rem solid var(--white-bg-col);
  border-top: 1.5rem solid transparent;
  border-bottom: 1.5rem solid transparent;
  pointer-events: none;
}

.play_btn[data-play="true"] {
  opacity: 0;
}
