.container {
  padding-block: 2rem;
  position: relative;
}

.container::after {
  content: "";
  position: absolute;
  inset: 0 0 0 0;
  background-image: url("../../../../public/assets/svg/wave\ element.svg");
  background-size: cover;
  background-repeat: no-repeat;
  translate: -50%;
  z-index: -1;
}

.content_wrappper {
  background-color: var(--accent-dark-bg-col);
  margin-inline: 1rem;
  width: calc(100% - 2rem);
  max-width: 1300px;
  padding-block: 3rem;
  border: 1px solid var(--trans-gold-bg-col);
  display: grid;
  place-items: center;
}

.content_wrappper > *:nth-child(2) {
  margin-block: 2rem;
}

.signature {
  position: absolute;
  top: 0;
  right: 3rem;
  scale: 0.6;
}

.options {
  position: relative;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  width: calc(100% - 2rem);
  justify-content: center;
}

.options > * {
  flex-basis: 30%;
}

.datepicker {
  color: var(--main-gold-bg-col);
  font-family: var(--cormorant-font);
  background-color: var(--main-dark-bg-col);
  outline-color: transparent;
  border: 1px solid var(--trans-gold-bg-col);
  font-size: 1rem;
  padding: 1rem;
  position: relative;
  width: 100%;
  text-align: center;
}

.datepicker_select {
  position: absolute;
  right: 1rem;
  top: 1rem;
  border-color: var(--main-gold-bg-col);
  aspect-ratio: 1;
  width: 0.75rem;
  border-left: 1px solid;
  border-bottom: 1px solid;
  rotate: -45deg;
  pointer-events: none;
  z-index: 2;
}

@media (min-width: 768px) {
  .container {
    padding-block: 9rem;
  }
  .content_wrappper {
    width: 80vw;
    margin-inline: auto;
  }

  .content_wrappper > *:nth-child(2) {
    margin-block: 4rem;
  }

  .options {
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
  }

  .options > * {
    flex-basis: 100%;
  }

  .datepicker {
    text-align: start;
  }

  .signature {
    scale: 1;
  }
}
