.container {
  margin-inline: auto;
  width: calc(100% - 2rem);
  max-width: 1300px;
  padding-block: 3rem;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.signature {
  position: absolute;
  scale: 0.65;
  inset: auto auto 2rem 1rem;
}
.signature:first-child {
  inset: 4rem 1rem auto auto;
}

.blogs {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

@media (min-width: 768px) {
  .container {
    width: 80vw;
  }
  .signature {
    scale: 1;
  }
}
