.img {
  position: relative;
  aspect-ratio: 1;
  min-width: 6rem;
}

.btn {
  margin-top: 1rem;
}

.btn:first-of-type {
  margin-right: 1rem;
}

.container {
  display: flex;
  gap: 1.5rem;
  padding: 1rem 1.25rem;
  padding-right: 0;
  align-items: flex-start;
}

.content {
  display: inline;
  position: relative;
  color: var(--soft-gray-bg-col);
  width: 100%;
}

/* comment replies */
.content > *:last-child:not(p) {
  margin-top: 2rem;
}

.date {
  margin-block: 0.5rem;
}

.author {
  color: var(--white-bg-col);
  font-size: 1.5rem;
  font-family: var(--cormorant-font);
  font-weight: 700;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.comment {
  max-width: 635px;
}

.reply_input {
  display: block;
  width: 100%;
  padding: 1rem;
  color: var(--white-bg-col);
  height: 8em;
  margin-block: 1rem;
}

.author[data-focused="true"] {
  color: var(--main-gold-bg-col);
}

.replies_container {
  margin-top: 1rem;
  container-type: inline-size;
}

.textarea {
  margin-block: 1rem;
}

.err_msg {
  color: red;
  font-family: var(--cormorant-font);
  font-weight: 500;
  flex-basis: 100%;
  font-size: 1rem;
  margin-block: 0.5rem;
}

.reply_input_container {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}

.reply_input_container[data-expand="true"] {
  height: 17rem;
}

@container (max-width: 200px) {
  .container {
    flex-direction: column;
  }
  .reply_input_container[data-expand="true"] {
    height: 20rem;
  }
}

@media (min-width: 768px) {
  .img {
    min-width: 7rem;
  }
  .container {
    flex-wrap: nowrap;
    width: 100%;
  }
  .reply_input_container[data-expand="true"] {
    height: 14rem;
  }
}
