.btn {
  cursor: pointer;
}

.with_icon {
  display: inline-flex;
  gap: 1rem;
}

.primary {
  --bg-col: var(--main-gold-bg-col);
  color: var(--main-dark-bg-col);
  font-family: var(--cormorant-font);
  background-color: var(--bg-col);
  outline-color: transparent;
  border-color: transparent;
  font-weight: 700;
  transition: background-color 0.2s ease-out, scale 120ms ease-in-out;
  scale: 1;
}

.primary:active {
  scale: 0.95;
}

.secondary {
  color: var(--soft-gray-bg-col);
  font-family: var(--poppins-font);
  outline-color: transparent;
  border-color: transparent;
  background-color: transparent;
  font-weight: 500;
  transition: color 120ms ease-in-out;
}

@media (hover: hover) {
  .secondary:hover {
    color: var(--white-bg-col);
  }

  .primary:hover {
    background-color: #e8c238;
  }
}

@media (min-width: 768px) {
  .btn {
    padding: 0.5rem 1rem;
  }
}
